@import 'tailwindcss';

/* @import '../node_modules/preline/variants.css'; */
@source "../node_modules/preline/dist/*.js";

/* Optional plugins */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Third-party plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
/* @plugin "@tailwindcss/aspect-ratio"; */

.ProseMirror:focus {
	@apply rounded-t-none rounded-b-lg outline outline-2 outline-offset-1 outline-blue-500;
}

.tiptap ul p,
.tiptap ol p {
	display: inline;
}

.tiptap p.is-editor-empty:first-child::before {
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
